/*----背景與漸層----*/
#container-fluid{
    background: -webkit-linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.38) 50%, rgba(255, 255, 255, 0) 100%), url(/images/bg-pic.png);
    background-blend-mode: normal, color-burn, normal;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
}

#login{
    text-align: center;
    position: absolute;
    top:1em;
    left:43%;
    width: 200px;
    font-family: Play;
    font-size: 48px;
    color: rgba(127, 0, 123, 0.93);
}

#A,#E{
    height:8em;
}
#logo-big{
    width:22%;
    display: block;
    margin: auto;
}
#logo-small{
    width: 80px;
    display: block;
    margin: auto;
    position: relative;
    top:1em;
}
/* 小白框*/
#F{
    display: block;
    margin: auto;
    position: block;
    width:300px;
    height: 400px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}
#C{
    float: none;
    position: relative;
    margin-top: 2em;
}
#Cb{
    float: none;
}

#wantLoginBtn{
    font-size: 32px;
    position: absolute;
    width: 200px;
    height: 80px;
}
#loginBtn{
    position: relative;
    top:13em;
    left:2em;
    width: 200px;
    height: 40px;
}
#wantRegisterBtn{
    font-size: 13px;
    position: absolute;
    top:3em;
    left:46%;
    height: 40px;
}
#registerBtn{

}
input{
    width:150px;
}
.form-control{
    text-align: center;
    position: absolute;
    top:3em;
}

#D{
    float: none;
    position: absolute;
    right:10px;
    bottom:10px;
    z-index: 1;
}
/* unvisited link */
a:link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

/* visited link */
a:visited {
    color: rgba(255, 255, 255, 0.7);
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

/* selected link */
a:active {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: underline;
}
