/*----網頁框架start----*/
/*背景與漸層*/
#container-fluid{
    background: -webkit-linear-gradient(270deg, #FFFFFF 0%, rgba(255, 255, 255, 0.38) 50%, rgba(255, 255, 255, 0) 100%), url(/images/bg-pic.png);
    background-blend-mode: normal, color-burn, normal;
    background-position:center;
    background-repeat:no-repeat;
    background-attachment: fixed;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-size: cover;
}
/*Navbar*/
#A{
    height:8em;
}

/* 左小白框*/
#B-categoryButton{
    display: block;
    position: fixed;
    left:2em;   
    width: 15%;
    height: 650px;
    border-radius: 50px;
    background: rgba(255, 255, 255, 0.5);
}

/* 左小白框內框*/ 
#C-categoryButton{
    display: block;
    margin: auto;
    position: relative;
    top:25px;
    width: 100%;
    height: 600px;
    background: rgba(255, 255, 255, 0);
    overflow-y: auto;
}

/* 大白框*/
#B{
    display: block;
    position: fixed;
    left: 15em;    
    width: 80%;
    height: 650px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50px;
}

/* 大白框內框*/
#C{
    display: block;
    margin: auto;
    position: relative;
    top: 25px;
    width: 98%;
    height: 600px;
    overflow-y: scroll;
}
/*----網頁框架ending----*/

.text{
    text-align:center;
}
